body{
	background-color: #F9F5E7;
	
}
hr{
	border-style: dotted;
	border-width: 0cap;
	border-radius: 0cqb;
	border-color:white;
	
	background-color:white;
	border-width: 1px;
}
h1{
	color: #472D2D;
	font-family: cursive;
	
}
img{
	tab-size: 0cqb;
}